APP_NAME="Hermes API"
APP_VERSION=0.1.0
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

# ----------------------------
# Lista de conexões (dbs)
# ----------------------------

# Oracle
DBS__oracle_erp__ENGINE=
DBS__oracle_erp__HOST=
DBS__oracle_erp__PORT=
DBS__oracle_erp__USER=
DBS__oracle_erp__PASSWORD=
DBS__oracle_erp__DATABASE=
# DBS__oracle_erp__SERVICE_NAME=XE
DBS__oracle_erp__CLIENT_LIB_DIR=/opt/oracle/instantclient_21_13

# SQL Server
# DBS__1__ENGINE=sqlserver
# DBS__1__HOST=127.0.0.1
# DBS__1__PORT=1433
# DBS__1__USER=
# DBS__1__PASSWORD=
# DBS__1__DATABASE=master

# MySQL
# DBS__2__ENGINE=mysql
# DBS__2__HOST=127.0.0.1
# DBS__2__PORT=3306
# DBS__2__USER=
# DBS__2__PASSWORD=
# DBS__2__DATABASE=test
